@import "@fontsource-variable/mona-sans";
body {
  margin: 0;
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
}

/* Ensure the page background matches the app */
body {
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}
