.landing-page-body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #000000 10%, #271901f1 90%);
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.blocks {
  width: 100%;
  height: 100vh;
}

.nav-bar {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playstake-logo {
  height: 70px;
  margin-top: 10px;
  margin-left: 20px;
  width: 70px;
  cursor: pointer;
}

.playstake-logo img {
  width: 100%;
  height: 100%;
}

.nav-items {
  color: #ffffff;
  font-family: "inter";
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chevron-icon {
  transition: all 0.3s ease;
}
.nav-items:hover .chevron-icon {
  transform: translateY(2px);
}
.nav-items:hover {
  color: #ffffffde;
}

.bar:last-child {
  justify-content: flex-end;
  margin-right: 20px;
}

.search-input {
  width: 220px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ffffffd5;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.search-input input::placeholder {
  color: #ffffffd5;
  font-size: medium;
}

.search-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box {
  width: 200px;
  height: 30px;
  border: none;
  padding: 0 8px;
  font-size: 18px;
  font-family: "inter";
  outline: none;
  background: inherit;
  color: #ffffffd5;
}

.search-box ::-webkit-scrollbar {
  display: none;
}

.sign {
  color: #ffffffd5;
  font-family: "inter";
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 7px 12px;
  border-radius: 5px;
}

.sign:hover {
  color: #ffffffa2;
}

.up {
  border: 1px solid #ffffffd5;
}

.up:hover {
  border-color: #ffffffa2;
}
